.shopping-cart .side-icons{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shopping-cart .material-icons{
    padding-top: 20px;
    font-size: 40px;
    cursor: pointer;
    background-color: #2C4047;
    border: none;
    color: white;
}
.hidden{
    display: none;
}

.shopping-cart .table-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    border: 1px solid white;
}
.shopping-cart .shopping-product{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    color: black;

}
.shopping-cart{
    align-items: center;
}
.shopping-cart .receipt{
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 4px;
}

