.product-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: baseline;
    margin-left: 40px;
}

.product-grid .product-card{
    background-color: white;
    display: flex;

}
