
.sub-navbar .content{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin: 0 auto;
  }
  .sub-navbar .content .row{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
  
  }
  .sub-navbar .content .row .searchbar{
    display: flex;
  }
  
  /*
  .sub-navbar .content .row .hamburger-icon{
  
  }*/
  .sub-navbar .content .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 40px;
    flex: 1;
  }
  /*
  .sub-navbar .content .row .categories-menu li.is-active button{
    border-bottom: solid 2px #00c385; 
  }*/
.sub-navbar .content .row .filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
}

  .sub-navbar .content .row .filter button{
    cursor: pointer;
    border: none; 
    background-color: transparent;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 10px;
  }
  
  /*
  .material-icons{
    
  }*/